.content {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
}

.wellcome {
  font-size: 18px;
}

.nav {
  margin-top: 50px;
  flex-grow: 1;
}

.list {

}

.currentDate {
  margin-top: 20px;
}
